.systemLeaf {
    letter-spacing: 0.2em;
    color: #666666;
}

.oi-menu {
    margin-right: 2em;
    color: white;
}

.navbar-nav {
    margin-left: 2em;
    margin-right: 2em;
}

.navbar-nav > li.nav-header > a {
    cursor: default;
    margin-left: -2em;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav > li.nav-header-link > a {
    margin-left: -2em;
    font-weight: bold;
}

.nav-item {
    margin-left: 2em;
}

.nav-selectable:hover {
    border-bottom: 1px solid #666666;
}

.leafHeader {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    font-size: .75em;
    color: #999999;
}

.leafDivider {
    width: 50%;
}

.navHeader {
    padding: 1em;
}

.subHeading {
    color: #ffffff
}

#branchMenu {
    padding-bottom: 2em;
}

#branchBody {
    margin-top: 8em;
    margin-bottom: 3em;
}

#leafSubmitBody {
    margin-bottom: 8em;
}
